[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "<2.0.0"
pandas_gbq = "*"
pyyaml = "*"
statsmodels = "*"
selenium = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
